node_modules/
build/
*.log
.env*
generated_test_images/
generated_images/

.SourceSageAssets/
.SourceSageAssets/DOCUMIND/Repository_summary.md
docs/*.png
images/

!docs/ideogram-image_2025-05-18T06-31-45-777Z.png